<div *ngIf="successMessage" class="alert alert-success" role="alert">
  Successfully Saved!
</div>
<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: rgb(243, 87, 87)">POS Form</h1>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="text"
        id="search"
        placeholder="Search"
        aria-label="Search"
        name="search"
        [(ngModel)]="searchText"
      />
      <button class="btn btn-danger" for="search" type="submit">Search</button>
    </form>

    <div class="d-flex">
      <button class="btn btn-danger m-2" (click)="openFileInput()">
        Import from Excel
      </button>
      <input
        type="file"
        (change)="onFileChange($event)"
        #fileInput
        style="display: none"
      />
      <button class="btn btn-danger" (click)="exportToExcel(orders, 'posfrom')">
        Export to Excel
      </button>
      <button
        type="button"
        class="btn btn-danger m-2"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="clearform(posForm)"
      >
        Add Order
      </button>
     
      <!-- <div class="btn-group dropdown">
        <button
          type="button"
          class="btn btn-danger dropdown-toggle"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          Data Export/Import
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li>
            <button
              class="btn btn-light dropdown-item"
              (click)="exportToExcel(orders, 'posfrom')"
            >
              Export to Excel
            </button>
          </li>
          <li>
            <button
              class="btn btn-light dropdown-item"
              (click)="openFileInput()"
            >Import from Excel</button>
            <input
              type="file"
              (change)="onFileChange($event)"
              #fileInput
              style="display:none"
            />
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ADD Order</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          #posForm="ngForm"
          (ngSubmit)="posForm.form.valid && saveOrder(posForm)"
        >
          <table>
            <tr class="mb-5">
              <td><label for="orderId" class="form-label">Order Id</label></td>
              <td>
                <input
                  type="number"
                  id="orderId"
                  name="orderId"
                  [(ngModel)]="order_id"
                  #orderId="ngModel"
                  required
                  class="form-control"
                />
                <span *ngIf="orderId.touched && orderId.errors"
                  >Please Enter Orderid</span
                >
              </td>
            </tr>
            <tr class="mb-5">
              <td>
                <label for="counterNo" class="form-label">Counter No</label>
              </td>
              <td>
                <input
                  type="number"
                  id="counterNo"
                  name="counterNo"
                  [(ngModel)]="counter_no"
                  required
                  #counterNo="ngModel"
                  class="form-control"
                  min="0"
                />
                <span
                  *ngIf="counterNo.touched && counterNo.errors"
                  class="touched-muted"
                  >Please Enter Counter Number</span
                >
              </td>
            </tr>
            <tr class="mb-5">
              <td>
                <label for="cashierName" class="form-label">Cashier Name</label>
              </td>
              <td>
                <input
                  type="text"
                  id="cashierName"
                  name="cashierName"
                  [(ngModel)]="casher_name"
                  required
                  minlength="5"
                  #cashierName="ngModel"
                  class="form-control"
                />
                <span
                  *ngIf="cashierName.touched && cashierName.errors"
                  class="touched-muted"
                  >Please Enter Casher Name</span
                >
              </td>
            </tr>

            <tr class="mb-5">
              <td>
                <label for="orderDate" class="form-label">Order Date</label>
              </td>
              <td>
                <input
                  type="date"
                  id="orderDate"
                  name="orderDate"
                  [(ngModel)]="order_date"
                  class="form-control"
                />
              </td>
            </tr>

            <tr class="mb-5">
              <td>Refund:</td>
              <td>
                <input
                  type="radio"
                  id="refundYes"
                  name="refund"
                  value="Refund"
                  class="form-check-input"
                  [ngModel]="refund"
                  (change)="toogleRefundYes()"
                />
                <label class="form-check-label" for="refundYes">Yes</label>

                <input
                  type="radio"
                  id="refundNo"
                  name="refund"
                  value="NotRefund"
                  class="form-check-input"
                  [ngModel]="refund"
                  (change)="toogleRefundNo()"
                />
                <label class="form-check-label" for="refundNo">No</label>
              </td>
            </tr>
            <tr class="mb-3">
              <td><label for="discount">Discount:</label></td>
              <td>
                <input
                  type="checkbox"
                  id="discount"
                  name="discount"
                  [(ngModel)]="discount"
                  (change)="clearPercentage()"
                /><br />
              </td>
            </tr>

            <tr class="mb-5">
              <td>
                <label for="discount_percentage">Discount Percentage:</label>
              </td>
              <td>
                <input
                  type="number"
                  id="discount_percentage"
                  name="discount_percentage"
                  [(ngModel)]="discount_percentage"
                  [disabled]="!discount"
                  class="form-control"
                />
              </td>
            </tr>
          </table>
          <br /><br />
          <button
            type="button"
            class="btn btn-danger m-3"
            (click)="clearform(posForm)"
          >
            Clear
          </button>
          <button
            type="submit"
            class="btn btn-danger"
            [disabled]="!posForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-secondary m-3"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--  -->

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="scope">Order Id</th>
      <th class="scope">Counter No</th>
      <th class="scope">Casher Name</th>
      <th class="scope">Order Date</th>
      <th class="scope">Refund</th>
      <th class="scope">Discount</th>
      <th class="scope">Discount Percentage</th>
      <th class="scope">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let order of orders
          | search : searchText
          | paginate : { itemsPerPage: pageSize, currentPage: currentPage }
      "
    >
      <td>{{ order.order_id }}</td>
      <td>{{ order.counter_no }}</td>
      <td>{{ order.casher_name }}</td>
      <td>{{ order.order_date | date : "yyyy-MM-dd" : "UTC" }}</td>
      <td>{{ order.refund }}</td>
      <td>{{ order.discount }}</td>
      <td>{{ order.discount_percentage }}</td>
      <td>
        <i
          class="edit fa fa-pencil-square-o fa-2x"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal1"
          (click)="getarray(order)"
          aria-hidden="true"
        ></i
        ><span></span>

        <i
          class="delete fa fa-trash-o fa-2x"
          type="button"
          aria-hidden="true"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          (click)="getid(order.order_id)"
          aria-hidden="true"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<pagination-controls
  class="d-flex justify-content-center"
  (pageChange)="currentPage = $event"
>
</pagination-controls>
<!-- <input type="file" (change)="onFileChange($event)" /> -->
<!-- <button class="btn btn-danger" (click)="saveAll()">saveall</button> -->

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4>Are you sure want to delete?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="deleteData()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="update()">
          <table>
            <div *ngIf="successMessage">
              <h2 class="success_message">
                Data has been updated successfully
              </h2>
            </div>
            <tr class="mb-5">
              <td><label for="orderId" class="form-label">Order Id</label></td>
              <td>
                <input
                  type="number"
                  id="orderId"
                  name="orderId"
                  [(ngModel)]="array.order_id"
                  #orderId="ngModel"
                  disabled
                  class="form-control"
                />
                <span *ngIf="orderId.touched && orderId.errors"
                  >Please Enter Orderid</span
                >
              </td>
            </tr>
            <tr class="mb-5">
              <td>
                <label for="counterNo" class="form-label">Counter No</label>
              </td>
              <td>
                <input
                  type="number"
                  id="counterNo"
                  name="counterNo"
                  [(ngModel)]="array.counter_no"
                  class="form-control"
                />
              </td>
            </tr>
            <tr class="mb-5">
              <td>
                <label for="cashierName" class="form-label">Cashier Name</label>
              </td>
              <td>
                <input
                  type="text"
                  id="cashierName"
                  name="cashierName"
                  [(ngModel)]="array.casher_name"
                  class="form-control"
                />
              </td>
            </tr>
            <tr class="mb-5">
              <td>
                <label for="orderDate" class="form-label">Order Date</label>
              </td>
              <td>
                <input
                  type="date"
                  id="orderDate"
                  name="orderDate"
                  [(ngModel)]="array.order_date"
                  class="form-control"
                />
              </td>
            </tr>
            <tr class="mb-5">
              <td>Refund:</td>
              <td>
                <input
                  type="radio"
                  id="refundYes"
                  name="refund"
                  value="Refund"
                  class="form-check-input"
                  [(ngModel)]="array.refund"
                  (change)="toogleRefundYes()"
                  [value]="true"
                />
                <label class="form-check-label" for="refundYes">Yes</label>

                <input
                  type="radio"
                  id="refundNo"
                  name="refund"
                  value="NotRefund"
                  class="form-check-input"
                  [(ngModel)]="array.refund"
                  (change)="toogleRefundNo()"
                  [value]="false"
                />
                <label class="form-check-label" for="refundNo">No</label>
              </td>
            </tr>
            <tr class="mb-3">
              <td><label for="discount">Discount:</label></td>
              <td>
                <input
                  type="checkbox"
                  id="discount"
                  name="discount"
                  [(ngModel)]="array.discount"
                  (change)="clearPercentage()"
                /><br />
              </td>
            </tr>

            <tr class="mb-5">
              <td>
                <label for="discount_percentage">Discount Percentage:</label>
              </td>
              <td>
                <input
                  type="number"
                  id="discount_percentage"
                  name="discount_percentage"
                  [(ngModel)]="array.discount_percentage"
                  [disabled]="!array.discount"
                  class="form-control"
                />
              </td>
            </tr>
          </table>
          <br /><br />

          <button type="submit" class="btn btn-danger">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
